// Toggle between having pane frames around the panes
// Options:
//   - true (default)
//   - false
//
pane_frames false

// The name of the default layout to load on startup
// Default: "default"
//
default_layout "compact"
